
/* 
@media screen and (min-device-width:698px) {
  div#BoggleBoard {
    width: 698px;
    display:inline-grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
  }
} */

.Boggle-Board {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 400px;
  height: 400px;
  /* grid-template-rows: 20% 20% 20% 20%; */
}

#word {
  height: 40px;
}

.box {
  position: relative;
  background: #444;
  border: 1px solid #555;
  color: #AAA;
  font-size: 30px;
  outline: none;
}

